# Project Luther

In [1]:
# Relevant libraries
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import re
import time

## List of Functions

In [34]:
# Running list of functions

def bball_get_col(table, col_tag='th'):
    '''
    The columns of the table should be in the first 'tr' tag within the table tag.  
    The columns will be found as either 'th' or 'td' tags within the 'tr' tag.  
    The 'th' tag is set as default.
    '''
    col_loc = table.find('tr')
    cols = col_loc.find_all(col_tag)

    cols_list = []
    for i in range(len(cols)):
        temp_col = cols[i].get_text()
        cols_list.append(temp_col)
        
    return cols_list

def bball_get_data(table, data_tag='td'):
    '''
    The data within a table should be the second through last 'tr' tag within the table tag.
    The data should be found as 'td' tags, so the default data tag is set to 'td'.
    '''
    all_rows = table.find_all('tr')[1:]

    all_data = []

    for i in range(len(all_rows)):
        row = all_rows[i].find_all('th')
        add_row = all_rows[i].find_all('td')
        row.extend(add_row)
        data = []
        for j in range(len(row)):
            datapoint = row[j].get_text()
            data.append(datapoint)
        all_data.append(data)
        
    return all_data

def bball_scrape_data(url_template, start_year, end_year, delay=5):
    '''
    The url_template should be a formatted string where the start_year and end_year can be cycled through.
    The start_year and end_year should be integers.
    The col_list should be a list.
    The default data_tag is 'td'.
    The delay, which delays each run through of the for loop, is set to 5 seconds as default.  
    The delay prevents the scraper from being blocked due to frequent scraping requests.
    '''
    df = pd.DataFrame()
    
    if start_year > end_year:
        return print('Enter in valid end year.')
    else: 
        for year in range(start_year, end_year+1):
            try:
                url = url_template.format(year=year)
                link = requests.get(url)
            except:
                print(url)
                print('Check to make sure the URL is correct!')

            page = link.text

            soup = BeautifulSoup(page, 'lxml')
            table = soup.find('table')

            col_list = bball_get_col(table)
            all_data = bball_get_data(table)

            if len(col_list) != len(all_data[0]):
                print('Column List: \n', col_list)
                print('Data Row: \n', all_data)
                return print('Make sure the length of columns and data are consistent!')
            else:
                temp_df = pd.DataFrame(all_data, columns=col_list)
                temp_df = temp_df.assign(Yr = year)
                df = df.append(temp_df)
            time.sleep(delay)

    return df




def sal_get_col(table):
    col_loc_sal = table_sal.find('tr')
    cols_sal = col_loc_sal.find_all('td')

    cols_list_sal = []
    for i in range(len(cols_sal)):
        temp_col_sal = cols_sal[i].get_text()
        cols_list_sal.append(temp_col_sal)
    return cols_list_sal

def sal_get_data(table):
    all_rows_sal = table_sal.find_all('tr', class_ = ['evenrow', 'oddrow'])

    all_data_sal = []

    for i in range(len(all_rows_sal)):
        row_sal = all_rows_sal[i].find_all('td')
        data_sal = []
        for j in range(len(row_sal)):
            datapoint_sal = row_sal[j].get_text()
            data_sal.append(datapoint_sal)
        all_data_sal.append(data_sal)
        
    return all_data_sal

def sal_scrape_data(url_template, start_year, end_year, start_page, end_page, delay=5):
    df = pd.DataFrame()
    
    if start_year > end_year:
        return print('Enter in valid end year.')
    elif start_page > end_page:
        return pring('Enter in a valid end page.')
    else: 
        for year in range(start_year, end_year+1):
            for page in range(start_page, end_page+1):
                try:
                    url = url_template.format(year=year, page=page)
                    link = requests.get(url)
                except:
                    print(url)
                    print('Check to make sure the URL is correct!')
                
                print(url)
                page = link.text

                soup = BeautifulSoup(page, 'lxml')
                table = soup.find('table')

                col_list = sal_get_col(table)
                all_data = sal_get_data(table)

                if len(col_list) != len(all_data[0]):
                    print('Column List: \n', col_list)
                    print('Data Row: \n', all_data)
                    return print('Make sure the length of columns and data are consistent!')
                else:
                    temp_df = pd.DataFrame(all_data, columns=col_list)
                    temp_df = temp_df.assign(Yr = year)
                    df = df.append(temp_df)
                time.sleep(delay)
                
    return df

## Basketball-reference Web Scrape

In [4]:
# Test the web scrape
url_bball = 'http://www.basketball-reference.com/leagues/NBA_2016_totals.html'
link_bball = requests.get(url_bball)
page_bball = link_bball.text

soup_bball = BeautifulSoup(page_bball, 'lxml')
table_bball = soup_bball.find('table')

### Get column headers

In [5]:
# Pull column names from the table
# th should be in the first tr tag
col_loc_bball = table_bball.find('tr')
cols_bball = col_loc_bball.find_all('th')

cols_list_bball = []
for i in range(len(cols_bball)):
    temp_col_bball = cols_bball[i].get_text()
    cols_list_bball.append(temp_col_bball)

### Get data

In [6]:
# Pull data from the table
# td tags in the second through last tr tag should contain all of the data
all_rows_bball = table_bball.find_all('tr')[1:]

all_data_bball = []

for i in range(len(all_rows_bball)):
    row_bball = all_rows_bball[i].find_all('td')
    data_bball = []
    for j in range(len(row_bball)):
        datapoint_bball = row_bball[j].get_text()
        data_bball.append(datapoint_bball)
    all_data_bball.append(data_bball)

# Remove the first column name since it is just another index of the player list
df_2016 = pd.DataFrame(all_data_bball, columns=cols_list_bball[1:])

### Combine the above three steps into one function

In [21]:
# Combine the above steps into one function that can run through multiple urls

# Get the data from 2000 to 2016

bball_ref_url = 'http://www.basketball-reference.com/leagues/NBA_{year}_advanced.html'
start_year = 2000
end_year = 2016

df_bball = bball_scrape_data(bball_ref_url, start_year, end_year)
df_bball.head()

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,OWS,DWS,WS,WS/48,,OBPM,DBPM,BPM,VORP,Yr
0,1,Tariq Abdul-Wahad,SG,25,TOT,61,1578,13.6,.477,.036,...,0.4,1.8,2.2,.068,,-1.6,0.1,-1.5,0.2,2000
1,1,Tariq Abdul-Wahad,SG,25,ORL,46,1205,14.4,.484,.041,...,0.4,1.6,2.0,.082,,-1.3,0.4,-0.8,0.4,2000
2,1,Tariq Abdul-Wahad,SG,25,DEN,15,373,10.8,.448,.015,...,0.0,0.2,0.2,.023,,-2.8,-1.0,-3.8,-0.2,2000
3,2,Shareef Abdur-Rahim,SF,23,VAN,82,3223,20.2,.547,.075,...,6.2,2.6,8.8,.132,,1.8,0.5,2.3,3.5,2000
4,3,Cory Alexander,PG,26,DEN,29,329,8.8,.381,.357,...,-0.5,0.4,-0.1,-0.012,,-3.6,0.1,-3.5,-0.1,2000

### Save dataframe to csv file

In [28]:
# Save the dataframe to a csv file
df_bball.to_csv('bball_ref_player_database.csv')

## NBA Player Salaries Web Scrape

In [23]:
# Get the salary data from 2000 to 2016

# Test the web scrape
url_sal = 'http://www.espn.com/nba/salaries/_/year/2000/page/1/seasontype/3'
link_sal = requests.get(url_sal)
page_sal = link_sal.text

soup_sal = BeautifulSoup(page_sal, 'lxml')
table_sal = soup_sal.find('table')

In [26]:
# Pull column names from the table
# First tr tag contains td tags that are the column names
col_loc_sal = table_sal.find('tr')
cols_sal = col_loc_sal.find_all('td')

cols_list_sal = []
for i in range(len(cols_sal)):
    temp_col_sal = cols_sal[i].get_text()
    cols_list_sal.append(temp_col_sal)

In [30]:
# Pull data from the table
# td tags in every tr tag with the class 'evenrow' and 'oddrow' have the salary data
all_rows_sal = table_sal.find_all('tr', class_ = ['evenrow', 'oddrow'])

all_data_sal = []

for i in range(len(all_rows_sal)):
    row_sal = all_rows_sal[i].find_all('td')
    data_sal = []
    for j in range(len(row_sal)):
        datapoint_sal = row_sal[j].get_text()
        data_sal.append(datapoint_sal)
    all_data_sal.append(data_sal)

In [32]:
# Create the dataframe
df_sal_2000 = pd.DataFrame(all_data_sal, columns=cols_list_sal)

In [40]:
salary_url = 'http://www.espn.com/nba/salaries/_/year/{year}/page/{page}/seasontype/3'
start_year2 = 2016
end_year2 = 2016
start_page = 1
end_page = 2

df_sal = sal_scrape_data(salary_url, start_year2, end_year2, start_page, end_page)

In [41]:
# TEST CELL

# print(rows[:3])
# len(rows)

# cols_list

# df_2016.head()

# url2 = url_template.format(year=2015)
# url2

# url_template = 'http://www.basketball-reference.com/leagues/NBA_{year}_totals.html'
# start_year = 2015
# end_year = 2016

# col_list = get_col()
# col_list = col_list[1:]
# df = scrape_data(url_template, start_year, end_year, col_list)
# df.head()

# try:
#     url3 = 'http://www.basketball-reference.com/leagues/NBA_2016_total'
#     link3 = requests.get(url3)
# except

# len(bball_col_list)
# print(len(all_data[0]))

# a = 0
# if a:
#     print(True)
# else:
#     print(False)

# cols_list_sal
# all_data_sal
df_sal

    RK                   NAME                    TEAM       SALARY    Yr
0    1    Shaquille O'Neal, C      Los Angeles Lakers  $17,142,000  2016
1    2      Kevin Garnett, PF  Minnesota Timberwolves  $16,806,000  2016
2    3     Alonzo Mourning, C              Miami Heat  $15,004,000  2016
3    4       Juwan Howard, PF      Washington Wizards  $15,000,000  2016
4    5     Scottie Pippen, SF  Portland Trail Blazers  $14,795,000  2016
5    6        Karl Malone, PF               Utah Jazz  $14,000,000  2016
6    7       Larry Johnson, F         New York Knicks  $11,910,000  2016
7    8        Gary Payton, PG     Seattle SuperSonics  $11,020,000  2016
8    9    Rasheed Wallace, PF  Portland Trail Blazers  $10,800,000  2016
9   10          Shawn Kemp, C     Cleveland Cavaliers  $10,780,000  2016
10  11   Damon Stoudamire, PG  Portland Trail Blazers  $10,125,000  2016
11  12    Antonio McDyess, PF          Denver Nuggets   $9,900,000  2016
12  13          Ray Allen, SG         Milwaukee Bucks   $9,000,000  2016
13  14     Antoine Walker, PF          Boston Celtics   $9,000,000  2016
14  15    Stephon Marbury, PG         New Jersey Nets   $9,000,000  2016
15  16         Vlade Divac, C        Sacramento Kings   $8,837,000  2016
16  17       Bryant Reeves, C     Vancouver Grizzlies   $8,666,000  2016
17  18      Tom Gugliotta, PF            Phoenix Suns   $8,558,000  2016
18  19      Nick Van Exel, PG          Denver Nuggets   $8,354,000  2016
19  20      Elden Campbell, C       Charlotte Hornets   $7,975,000  2016
20  21    Terrell Brandon, PG  Minnesota Timberwolves   $7,400,000  2016
21  22    Derrick Coleman, PF       Charlotte Hornets   $7,370,000  2016
22  23     Glenn Robinson, SF         Milwaukee Bucks   $7,250,000  2016
23  24        Steve Smith, SG  Portland Trail Blazers   $7,200,000  2016
24  25      Kerry Kittles, SG         New Jersey Nets   $7,166,000  2016
25  26        Chris Dudley, C         New York Knicks   $7,100,000  2016
26  27        Theo Ratliff, C      Philadelphia 76ers   $7,031,000  2016
27  28         Matt Geiger, C      Philadelphia 76ers   $6,889,000  2016
28  29         Jason Kidd, PG            Phoenix Suns   $6,858,000  2016
29  30     Kenny Anderson, PG          Boston Celtics   $6,680,000  2016
..  ..                    ...                     ...          ...   ...
10  11   Damon Stoudamire, PG  Portland Trail Blazers  $10,125,000  2016
11  12    Antonio McDyess, PF          Denver Nuggets   $9,900,000  2016
12  13          Ray Allen, SG         Milwaukee Bucks   $9,000,000  2016
13  14     Antoine Walker, PF          Boston Celtics   $9,000,000  2016
14  15    Stephon Marbury, PG         New Jersey Nets   $9,000,000  2016
15  16         Vlade Divac, C        Sacramento Kings   $8,837,000  2016
16  17       Bryant Reeves, C     Vancouver Grizzlies   $8,666,000  2016
17  18      Tom Gugliotta, PF            Phoenix Suns   $8,558,000  2016
18  19      Nick Van Exel, PG          Denver Nuggets   $8,354,000  2016
19  20      Elden Campbell, C       Charlotte Hornets   $7,975,000  2016
20  21    Terrell Brandon, PG  Minnesota Timberwolves   $7,400,000  2016
21  22    Derrick Coleman, PF       Charlotte Hornets   $7,370,000  2016
22  23     Glenn Robinson, SF         Milwaukee Bucks   $7,250,000  2016
23  24        Steve Smith, SG  Portland Trail Blazers   $7,200,000  2016
24  25      Kerry Kittles, SG         New Jersey Nets   $7,166,000  2016
25  26        Chris Dudley, C         New York Knicks   $7,100,000  2016
26  27        Theo Ratliff, C      Philadelphia 76ers   $7,031,000  2016
27  28         Matt Geiger, C      Philadelphia 76ers   $6,889,000  2016
28  29         Jason Kidd, PG            Phoenix Suns   $6,858,000  2016
29  30     Kenny Anderson, PG          Boston Celtics   $6,680,000  2016
30  31        Tyrone Hill, PF      Philadelphia 76ers   $6,422,000  2016
31  32  Clifford Robinson, PF            Phoenix Suns   $6,125,000  2016
32  33     Jamal Mashburn, SF              Miami Heat   $5,600,000  2016
33  34         Steve Nash, PG        Dallas Mavericks   $5,500,000  2016
34  35     Alan Henderson, PF           Atlanta Hawks   $5,318,000  2016
35  36   Donyell Marshall, PF   Golden State Warriors   $5,250,000  2016
36  37        Marcus Camby, C         New York Knicks   $5,250,000  2016
37  38       Greg Ostertag, C               Utah Jazz   $5,200,000  2016
38  39         Luc Longley, C            Phoenix Suns   $5,175,000  2016
39  40         P.J. Brown, PF              Miami Heat   $5,124,000  2016

[80 rows x 5 columns]